.payment-list {
    .input-date {
        color: white;
        background-color: transparent;
    }

    .payment-list-container {
        margin-top: 20px;
        padding: 30px;
        margin-bottom: 80px;
        border: #3b75b4 1px solid;
        background-color: #1f1b2a;
        border-radius: 6px;
    }

    .btn-section {
        height: 36px;
        padding: 5px 20px;
        border: #ffffff 1px solid;
        margin-right: 20px;
        cursor: pointer;
        border-radius: 6px;
    }
    .create {
        background-color: #3b75b4;
        padding-left: 50px;
        padding-right: 50px;
    }
    .sort {
        padding: 0px;
        height: 100%;
        border-radius: 0px;
        border-width: 0px;
    }
}
